/********************************************************************
Screen and Print Styles for the Wrap Plugin
********************************************************************/

/* tables in columns and boxes should span the whole width */
.dokuwiki .plugin_wrap table {
    width: 100%;
}
/* emulate a headline */
.dokuwiki .plugin_wrap em strong {
    font-size: 130%;
    font-weight: bold;
    font-style: normal;
    display: block;
}
/* emulate a bigger headline with a bottom border */
.dokuwiki .plugin_wrap em strong em.u {
    font-size: 115%;
    border-bottom: 1px solid __border__;
    font-style: normal;
    text-decoration: none;
    display: block;
}
/* different bigger headline for safety notes */
.dokuwiki .wrap_danger em strong em.u, .dokuwiki .wrap_warning em strong em.u, .dokuwiki .wrap_caution em strong em.u, .dokuwiki .wrap_notice em strong em.u, .dokuwiki .wrap_safety em strong em.u {
    text-transform: uppercase;
    border-bottom-width: 0;
}
/* change border colour of emulated headlines inside boxes to something more neutral
   (to match all the different background colours) */
.dokuwiki .wrap_box em strong em.u,
.dokuwiki .wrap_info em strong em.u, .dokuwiki .wrap_important em strong em.u, .dokuwiki .wrap_alert em strong em.u, .dokuwiki .wrap_tip em strong em.u, .dokuwiki .wrap_help em strong em.u, .dokuwiki .wrap_todo em strong em.u, .dokuwiki .wrap_download em strong em.u {
    border-bottom-color: #999;
}

/* real headlines should not be indented inside a wrap */
.dokuwiki .plugin_wrap h1, .dokuwiki .plugin_wrap h2, .dokuwiki .plugin_wrap h3, .dokuwiki .plugin_wrap h4, .dokuwiki .plugin_wrap h5 {
    margin-left: 0;
    margin-right: 0;
}
/* hide section edit buttons (because they don't work inside a wrap) */
.dokuwiki .plugin_wrap div.secedit {
    display: none;
}

/* columns
********************************************************************/

.dokuwiki .wrap_left,
.dokuwiki .wrap_column {
    float: left;
    margin-right: 1.5em;
}
.dokuwiki .wrap_right {
    float: right;
    margin-left: 1.5em;
}
.dokuwiki .wrap_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
.dokuwiki .wrap_column,
.dokuwiki .wrap_left,
.dokuwiki .wrap_right {
    overflow: hidden;
}
*/
.dokuwiki .wrap_container {
    margin-right: -1.5em;
}

/*____________ CSS3 columns  ____________*/

.wrap_col2, .wrap_col3, .wrap_col4, .wrap_col5 {
    -moz-column-gap: 1.5em;
    -moz-column-rule: 1px dotted #666;
    -webkit-column-gap: 1.5em;
    -webkit-column-rule: 1px dotted #666;
    column-gap: 1.5em;
    column-rule: 1px dotted #666;
}
.wrap_col2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.wrap_col3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}
.wrap_col4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}
.wrap_col5 {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
}


/* alignments
********************************************************************/

.dokuwiki .wrap_leftalign {
    text-align: left;
}
.dokuwiki .wrap_centeralign {
    text-align: center;
}
.dokuwiki .wrap_rightalign {
    text-align: right;
}
.dokuwiki .wrap_justify {
    text-align: justify;
}


/* box
********************************************************************/

/* see styles for boxes and notes with icons in style.css */

/*____________ rounded corners ____________*/
/* (only for modern browsers) */

.dokuwiki div.wrap_round {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
}
.dokuwiki span.wrap_round {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
}


/* mark
********************************************************************/

div.dokuwiki .wrap_lo {
    color: __text_neu__;
    font-size: 85%;
}
div.dokuwiki .wrap_em {
    color: #c00;
    font-weight: bold;
}

/* see styles for highlighted text in style.css */


/* typography
********************************************************************

div.dokuwiki .wrap_sansserif {
    font-family: Verdana,Tahoma,Geneva,"DejaVu Sans","Bitstream Vera Sans","Liberation Sans", Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L", sans-serif;
}
div.dokuwiki .wrap_serif {
    font-family: Georgia,Garamond,"Palatino Linotype","Book Antiqua",Palatino,Palladio,"URW Palladio L","Liberation Serif",Didot,Gentium,"Bitstream Charter","Century Schoolbook L", "Times New Roman",Times,"Nimbus Roman No9 L","FreeSerif", serif;
}
div.dokuwiki .wrap_monospace {
    font-family: Courier,"Courier New",FreeMono,"Nimbus Mono L","Liberation Mono", "Lucida Console",Monaco,"DejaVu Sans Mono","Bitstream Vera Sans Mono", monospace;
}

div.dokuwiki .wrap_bigger {
    font-size: 125%;
}
div.dokuwiki .wrap_muchbigger {
    font-size: 200%;
}
div.dokuwiki .wrap_smaller {
    font-size: 75%;
}

div.dokuwiki .wrap_fgred {
    color: #900;
}
div.dokuwiki .wrap_fggreen {
    color: #090;
}
div.dokuwiki .wrap_fgblue {
    color: #009;
}
div.dokuwiki .wrap_fgcyan {
    color: #099;
}
div.dokuwiki .wrap_fgviolet {
    color: #909;
}
div.dokuwiki .wrap_fgyellow {
    color: #990;
}
div.dokuwiki .wrap_fggrey {
    color: #666;
}
div.dokuwiki .wrap_fgblack {
    color: #000;
}

see styles for background colours and white font colour in style.css */


/* miscellaneous
********************************************************************/

/*____________ indent ____________*/

div.dokuwiki .wrap_indent {
    padding-left: 1.5em;
}

/*____________ outdent ____________*/

div.dokuwiki .wrap_outdent {
    margin-left: -1.5em;
}

/*____________ word wrapping in pre ____________*/

div.dokuwiki div.wrap_prewrap pre {
    white-space: pre-wrap;
    word-wrap: break-word;/* for IE < 8 */
    /* white-space: -moz-pre-wrap; for FF < 3 */
}

/*____________ spoiler ____________*/

div.dokuwiki div.wrap_spoiler {
    margin-bottom: 1.5em;
}
/* see rest of spoiler styles in style.css */

/*____________ clear float ____________*/

div.dokuwiki .wrap_clear {
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
}

/*____________ hide ____________*/

div.dokuwiki .wrap_hide {
    display: none;
}
