/********************************************************************
Print Styles for the Wrap Plugin (additional to all.css)
********************************************************************/

/* boxes and notes with icons
********************************************************************/

.dokuwiki div.wrap_box,
.dokuwiki div.wrap_danger, .dokuwiki div.wrap_warning, .dokuwiki div.wrap_caution, .dokuwiki div.wrap_notice, .dokuwiki div.wrap_safety,
.dokuwiki div.wrap_info, .dokuwiki div.wrap_important, .dokuwiki div.wrap_alert, .dokuwiki div.wrap_tip, .dokuwiki div.wrap_help, .dokuwiki div.wrap_todo, .dokuwiki div.wrap_download {
    border: 2px solid #999;
    padding: 1em 1em .5em;
    margin-bottom: 1.5em;
}
.dokuwiki span.wrap_box,
.dokuwiki span.wrap_danger, .dokuwiki span.wrap_warning, .dokuwiki span.wrap_caution, .dokuwiki span.wrap_notice, .dokuwiki span.wrap_safety,
.dokuwiki span.wrap_info, .dokuwiki span.wrap_important, .dokuwiki span.wrap_alert, .dokuwiki span.wrap_tip, .dokuwiki span.wrap_help, .dokuwiki span.wrap_todo, .dokuwiki span.wrap_download {
    border: 1px solid #999;
    padding: 0 .3em;
}


/* mark
********************************************************************/

.dokuwiki .wrap_hi {
    border: 1px solid #999;
}


/* miscellaneous
********************************************************************/

/*____________ spoiler ____________*/

.dokuwiki .wrap_spoiler {
    visibility: hidden;
}

/*____________ pagebreak ____________*/

.dokuwiki .wrap_pagebreak {
    page-break-after: always;
}

/*____________ avoid page break ____________*/
/* not yet supported by most browsers */

.dokuwiki .wrap_nopagebreak {
    page-break-inside: avoid;
}

/*____________ no print ____________*/

.dokuwiki .wrap_noprint {
    display: none;
}
