/********************************************************************
Screen Styles for the Wrap Plugin (additional to all.css)
********************************************************************/

/* box
********************************************************************/

.dokuwiki .wrap_box {
    background: __background_alt__;
    color: __text__;
/*
    overflow: hidden;
*/
}
.dokuwiki div.wrap_box {
    padding: 1em 1em .5em;
    margin-bottom: 1.5em;
}
.dokuwiki span.wrap_box {
    padding: 0 .3em;
}

/*____________ notes with icons ____________*/

/* general styles for all note divs */
.dokuwiki div.wrap_info, .dokuwiki div.wrap_important, .dokuwiki div.wrap_alert, .dokuwiki div.wrap_tip, .dokuwiki div.wrap_help, .dokuwiki div.wrap_todo, .dokuwiki div.wrap_download {
    padding: 1em 1em .5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    color: #000;
}
/* special treatment for IE6 */
* html .dokuwiki div.wrap_info, * html .dokuwiki div.wrap_important, * html .dokuwiki div.wrap_alert, * html .dokuwiki div.wrap_tip, * html .dokuwiki div.wrap_help, * html .dokuwiki div.wrap_todo, * html .dokuwiki div.wrap_download {
    height: 68px;
}
/* general styles for all note spans */
.dokuwiki span.wrap_info, .dokuwiki span.wrap_important, .dokuwiki span.wrap_alert, .dokuwiki span.wrap_tip, .dokuwiki span.wrap_help, .dokuwiki span.wrap_todo, .dokuwiki span.wrap_download {
    padding: 0 2px 0 20px;
    min-height: 20px;
    background-position: 2px 50%;
    background-repeat: no-repeat;
    color: #000;
}
/* special treatment for IE6 */
* html .dokuwiki span.wrap_info, * html .dokuwiki span.wrap_important, * html .dokuwiki span.wrap_alert, * html .dokuwiki span.wrap_tip, * html .dokuwiki span.wrap_help, * html .dokuwiki span.wrap_todo, * html .dokuwiki span.wrap_download {
    height: 20px;
}

/*____________ info ____________*/
.dokuwiki .wrap_info { background-color: #d1d7df; }
.dokuwiki div.wrap_info { background-image: url(images/note/48/info.png); }
.dokuwiki span.wrap_info { background-image: url(images/note/16/info.png); }

/*____________ important ____________*/
.dokuwiki .wrap_important { background-color: #ffd39f; }
.dokuwiki div.wrap_important { background-image: url(images/note/48/important.png); }
.dokuwiki span.wrap_important { background-image: url(images/note/16/important.png); }

/*____________ alert ____________*/
.dokuwiki .wrap_alert { background-color: #ffbcaf; }
.dokuwiki div.wrap_alert { background-image: url(images/note/48/alert.png); }
.dokuwiki span.wrap_alert { background-image: url(images/note/16/alert.png); }

/*____________ tip ____________*/
.dokuwiki .wrap_tip { background-color: #fff79f; }
.dokuwiki div.wrap_tip { background-image: url(images/note/48/tip.png); }
.dokuwiki span.wrap_tip { background-image: url(images/note/16/tip.png); }

/*____________ help ____________*/
.dokuwiki .wrap_help { background-color: #dcc2ef; }
.dokuwiki div.wrap_help { background-image: url(images/note/48/help.png); }
.dokuwiki span.wrap_help { background-image: url(images/note/16/help.png); }

/*____________ todo ____________*/
.dokuwiki .wrap_todo { background-color: #c2efdd; }
.dokuwiki div.wrap_todo { background-image: url(images/note/48/todo.png); }
.dokuwiki span.wrap_todo { background-image: url(images/note/16/todo.png); }

/*____________ download ____________*/
.dokuwiki .wrap_download { background-color: #d6efc2; }
.dokuwiki div.wrap_download { background-image: url(images/note/48/download.png); }
.dokuwiki span.wrap_download { background-image: url(images/note/16/download.png); }


/* mark
********************************************************************/

div.dokuwiki .wrap_hi {
    background-color: #ff9;
}

/* typography
********************************************************************/

/*____________ font colours ____________*/

div.dokuwiki .wrap_fgwhite {
    color: #fff;
}

/*____________ background colours ____________*/

div.dokuwiki .wrap_bgred {
    background-color: #fcc;
}
div.dokuwiki .wrap_bggreen {
    background-color: #cfc;
}
div.dokuwiki .wrap_bgblue {
    background-color: #ccf;
}
div.dokuwiki .wrap_bgcyan {
    background-color: #9ff;
}
div.dokuwiki .wrap_bgviolet {
    background-color: #f9f;
}
div.dokuwiki .wrap_bgyellow {
    background-color: #ff9;
}
div.dokuwiki .wrap_bggrey {
    background-color: #ccc;
}
div.dokuwiki .wrap_bgwhite {
    background-color: #fff;
}
div.dokuwiki .wrap_bgblack {
    background-color: #000;
}


/* miscellaneous
********************************************************************/

/*____________ spoiler ____________*/

div.dokuwiki .wrap_spoiler {
    background-color: __background__ !important;
    color: __background__ !important;
    border: 1px dotted red;
}

/*____________ only print ____________*/

div.dokuwiki .wrap_onlyprint {
    display: none;
}
