/********************************************************************
Screen Styles for the Wrap Plugin (additional to all.css)
********************************************************************/

/* box
********************************************************************/

.dokuwiki .wrap_box {
    background: __background_alt__;
    color: inherit;
/*
    overflow: hidden;
*/
}
.dokuwiki div.wrap_box {
    padding: 1em 1em .5em;
    margin-bottom: 1.5em;
}
.dokuwiki span.wrap_box {
    padding: 0 .3em;
}

/*____________ notes with icons ____________*/

/* general styles for all note divs */
.dokuwiki div.wrap_info, .dokuwiki div.wrap_information, .dokuwiki div.wrap_important, .dokuwiki div.wrap_warning, .dokuwiki div.wrap_tip, .dokuwiki div.wrap_help, .dokuwiki div.wrap_todo, .dokuwiki div.wrap_download {
    padding: 1em 1em .5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}
/* special treatment for IE6 */
* html .dokuwiki div.wrap_info, * html .dokuwiki div.wrap_information, * html .dokuwiki div.wrap_important, * html .dokuwiki div.wrap_warning, * html .dokuwiki div.wrap_tip, * html .dokuwiki div.wrap_help, * html .dokuwiki div.wrap_todo, * html .dokuwiki div.wrap_download {
    height: 68px;
}
/* general styles for all note spans */
.dokuwiki span.wrap_info, .dokuwiki span.wrap_information, .dokuwiki span.wrap_important, .dokuwiki span.wrap_warning, .dokuwiki span.wrap_tip, .dokuwiki span.wrap_help, .dokuwiki span.wrap_todo, .dokuwiki span.wrap_download {
    padding: 0 2px 0 20px;
    min-height: 20px;
    background-position: 2px 50%;
    background-repeat: no-repeat;
}
/* special treatment for IE6 */
* html .dokuwiki span.wrap_info, * html .dokuwiki span.wrap_information, * html .dokuwiki span.wrap_important, * html .dokuwiki span.wrap_warning, * html .dokuwiki span.wrap_tip, * html .dokuwiki span.wrap_help, * html .dokuwiki span.wrap_todo, * html .dokuwiki span.wrap_download {
    height: 20px;
}

/*____________ information ____________*/
.dokuwiki .wrap_info, .dokuwiki .wrap_information { background-color: #d1d7df; }
.dokuwiki div.wrap_info, .dokuwiki div.wrap_information { background-image: url(images/note/48/info.png); }
.dokuwiki span.wrap_info, .dokuwiki span.wrap_information { background-image: url(images/note/16/info.png); }

/*____________ important ____________*/
.dokuwiki .wrap_important { background-color: #ffd39f; }
.dokuwiki div.wrap_important { background-image: url(images/note/48/important.png); }
.dokuwiki span.wrap_important { background-image: url(images/note/16/important.png); }

/*____________ warning ____________*/
.dokuwiki .wrap_warning { background-color: #ffbcaf; }
.dokuwiki div.wrap_warning { background-image: url(images/note/48/warning.png); }
.dokuwiki span.wrap_warning { background-image: url(images/note/16/warning.png); }

/*____________ tip ____________*/
.dokuwiki .wrap_tip { background-color: #fff79f; }
.dokuwiki div.wrap_tip { background-image: url(images/note/48/tip.png); }
.dokuwiki span.wrap_tip { background-image: url(images/note/16/tip.png); }

/*____________ help ____________*/
.dokuwiki .wrap_help { background-color: #dcc2ef; }
.dokuwiki div.wrap_help { background-image: url(images/note/48/help.png); }
.dokuwiki span.wrap_help { background-image: url(images/note/16/help.png); }

/*____________ todo ____________*/
.dokuwiki .wrap_todo { background-color: #c2efdd; }
.dokuwiki div.wrap_todo { background-image: url(images/note/48/todo.png); }
.dokuwiki span.wrap_todo { background-image: url(images/note/16/todo.png); }

/*____________ download ____________*/
.dokuwiki .wrap_download { background-color: #d6efc2; }
.dokuwiki div.wrap_download { background-image: url(images/note/48/download.png); }
.dokuwiki span.wrap_download { background-image: url(images/note/16/download.png); }


/* mark
********************************************************************/

div.dokuwiki .wrap_hi {
    background-color: #ff9;
}

/* typography
********************************************************************/

/*____________ background colours ____________*/

div.dokuwiki .wrap_bgred {
    background-color: #fcc;
}
div.dokuwiki .wrap_bggreen {
    background-color: #cfc;
}
div.dokuwiki .wrap_bgblue {
    background-color: #ffc;
}
div.dokuwiki .wrap_bgcyan {
    background-color: #9ff;
}
div.dokuwiki .wrap_bgviolet {
    background-color: #f9f;
}
div.dokuwiki .wrap_bgyellow {
    background-color: #99f;
}
div.dokuwiki .wrap_bggrey {
    background-color: #ccc;
}


/* miscellaneous
********************************************************************/

/*____________ spoiler ____________*/

div.dokuwiki .wrap_spoiler {
    background-color: __background__ !important;
    color: __background__ !important;
    border: 1px dotted red;
}

