/********************************************************************
Screen Styles for the Wrap Plugin (additional to all.css)
********************************************************************/

/* box
********************************************************************/

.dokuwiki .wrap_box {
    background: __background_alt__;
    color: __text__;
}
.dokuwiki div.wrap_box,
.dokuwiki div.wrap_danger,
.dokuwiki div.wrap_warning,
.dokuwiki div.wrap_caution,
.dokuwiki div.wrap_notice,
.dokuwiki div.wrap_safety {
    padding: 1em 1em .5em;
    margin-bottom: 1.5em;
    overflow: hidden;
}
.dokuwiki span.wrap_box,
.dokuwiki span.wrap_danger,
.dokuwiki span.wrap_warning,
.dokuwiki span.wrap_caution,
.dokuwiki span.wrap_notice,
.dokuwiki span.wrap_safety {
    padding: 0 .3em;
}

/*____________ notes with icons ____________*/

/* general styles for all note divs */
.dokuwiki div.wrap_info,
.dokuwiki div.wrap_important,
.dokuwiki div.wrap_alert,
.dokuwiki div.wrap_tip,
.dokuwiki div.wrap_help,
.dokuwiki div.wrap_todo,
.dokuwiki div.wrap_download {
    padding: 1em 1em .5em 70px;
    margin-bottom: 1.5em;
    min-height: 68px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    color: inherit;
    overflow: hidden;
}
/* general styles for all note spans */
.dokuwiki span.wrap_info,
.dokuwiki span.wrap_important,
.dokuwiki span.wrap_alert,
.dokuwiki span.wrap_tip,
.dokuwiki span.wrap_help,
.dokuwiki span.wrap_todo,
.dokuwiki span.wrap_download {
    padding: 0 2px 0 20px;
    min-height: 20px;
    background-position: 2px 50%;
    background-repeat: no-repeat;
    color: inherit;
}

/* sorry for icons glued to the right side, but there is currently no way
     to make this look good without adjusting the images themselves */
[dir=rtl] .dokuwiki div.wrap_info,
[dir=rtl] .dokuwiki div.wrap_important,
[dir=rtl] .dokuwiki div.wrap_alert,
[dir=rtl] .dokuwiki div.wrap_tip,
[dir=rtl] .dokuwiki div.wrap_help,
[dir=rtl] .dokuwiki div.wrap_todo,
[dir=rtl] .dokuwiki div.wrap_download {
    padding: 1em 60px .5em 1em;
    background-position: right 50%;
}
[dir=rtl] .dokuwiki span.wrap_info,
[dir=rtl] .dokuwiki span.wrap_important,
[dir=rtl] .dokuwiki span.wrap_alert,
[dir=rtl] .dokuwiki span.wrap_tip,
[dir=rtl] .dokuwiki span.wrap_help,
[dir=rtl] .dokuwiki span.wrap_todo,
[dir=rtl] .dokuwiki span.wrap_download {
    padding: 0 18px 0 2px;
    background-position: right 50%;
}

/*____________ info ____________*/
.dokuwiki .wrap_info { background-color: #d1d7df; }
.dokuwiki .wrap__dark.wrap_info { background-color: #343e4a; }
.dokuwiki div.wrap_info { background-image: url(images/note/48/info.png); }
.dokuwiki span.wrap_info { background-image: url(images/note/16/info.png); }

/*____________ important ____________*/
.dokuwiki .wrap_important { background-color: #ffd39f; }
.dokuwiki .wrap__dark.wrap_important { background-color: #6c3b00; }
.dokuwiki div.wrap_important { background-image: url(images/note/48/important.png); }
.dokuwiki span.wrap_important { background-image: url(images/note/16/important.png); }

/*____________ alert ____________*/
.dokuwiki .wrap_alert { background-color: #ffbcaf; }
.dokuwiki .wrap__dark.wrap_alert { background-color: #6b1100; }
.dokuwiki div.wrap_alert { background-image: url(images/note/48/alert.png); }
.dokuwiki span.wrap_alert { background-image: url(images/note/16/alert.png); }

/*____________ tip ____________*/
.dokuwiki .wrap_tip { background-color: #fff79f; }
.dokuwiki .wrap__dark.wrap_tip { background-color: #4a4400; }
.dokuwiki div.wrap_tip { background-image: url(images/note/48/tip.png); }
.dokuwiki span.wrap_tip { background-image: url(images/note/16/tip.png); }

/*____________ help ____________*/
.dokuwiki .wrap_help { background-color: #dcc2ef; }
.dokuwiki .wrap__dark.wrap_help { background-color: #3c1757; }
.dokuwiki div.wrap_help { background-image: url(images/note/48/help.png); }
.dokuwiki span.wrap_help { background-image: url(images/note/16/help.png); }

/*____________ todo ____________*/
.dokuwiki .wrap_todo { background-color: #c2efdd; }
.dokuwiki .wrap__dark.wrap_todo { background-color: #17573e; }
.dokuwiki div.wrap_todo { background-image: url(images/note/48/todo.png); }
.dokuwiki span.wrap_todo { background-image: url(images/note/16/todo.png); }

/*____________ download ____________*/
.dokuwiki .wrap_download { background-color: #d6efc2; }
.dokuwiki .wrap__dark.wrap_download { background-color: #345717; }
.dokuwiki div.wrap_download { background-image: url(images/note/48/download.png); }
.dokuwiki span.wrap_download { background-image: url(images/note/16/download.png); }


/*____________ safety notes ____________*/

.dokuwiki .wrap_danger {
    background-color: #c00;
    color: #fff;
}
.dokuwiki .wrap_warning {
    background-color: #f60;
    color: #000;
}
.dokuwiki .wrap_caution {
    background-color: #ff0;
    color: #000;
}
.dokuwiki .wrap_notice {
    background-color: #06f;
    color: #fff;
}
.dokuwiki .wrap_safety {
    background-color: #090;
    color: #fff;
}


/* mark
********************************************************************/

.dokuwiki .wrap_hi {
    background-color: #ff9;
    overflow: hidden;
}
.dokuwiki .wrap__dark.wrap_hi {
    background-color: #4e4e0d;
}


/* miscellaneous
********************************************************************/

/*____________ spoiler ____________*/

.dokuwiki .wrap_spoiler {
    background-color: __background__ !important;
    color: __background__ !important;
    border: 1px dotted red;
}

/*____________ only print ____________*/

.dokuwiki .wrap_onlyprint {
    display: none;
}

/*____________ tabs ____________*/
/* in addition to template styles */

.dokuwiki .plugin_wrap.tabs {
    margin-bottom: 1.4em;
}

/*____________ button-style link ____________*/

.dokuwiki .wrap_button a:link,
.dokuwiki .wrap_button a:visited {
    background-color: __background_alt__;
}
.dokuwiki .wrap_button a:link:hover,
.dokuwiki .wrap_button a:visited:hover,
.dokuwiki .wrap_button a:link:focus,
.dokuwiki .wrap_button a:visited:focus,
.dokuwiki .wrap_button a:link:active,
.dokuwiki .wrap_button a:visited:active {
    background-color: __background_neu__;
}
